/* HTML ELEMENTS */

h1{
    margin: 0;
}

main{
    background-image: url("./images/background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    margin-top: 15vh;
    padding: 15px;
    height: 200vh;
}

body{
    background-color: #1c1a24;
    color: white;
    margin: 0;
    font-family: Comfortaa, Tahoma, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    z-index: 1;
}

img{
    width: 100%;
    object-fit: cover;
}

/* CLASSES */

.margin10px{
    margin: 10px;
}

.inlineBlock{
    display: inline-block;
}

.centered{
    margin-right: auto;
    margin-left: auto;
}

.halfSize{
    width: 50%;
}

.navBar{
    padding-left: 20px;
    padding-right: 20px;
    height: 15vh;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle{
    vertical-align: middle;
}

.portfolio{
    background-color: rgb(20, 20, 30);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.projects{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.project{
    width: auto;
    min-height: 50vh;
    background-color: rgb(30, 30, 40);
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.seeMore{
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border-style: solid;
    border-radius: 10px; 
    border-width: 0;
    color: white;
    background-color: #000055;
    text-align: center;
}

/* EFFECTS */

.project:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.seeMore:hover{
    cursor: pointer;
    background-color: #111166;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

/* ANIMATIONS */

@keyframes opacityTransition {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#portfolioTitle{
    opacity: 0;
    animation-name: opacityTransition;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.portfolio{
    opacity: 0;
    animation-name: opacityTransition;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}