/* HTML ELEMENTS */

html{
    scroll-behavior: smooth;
}

*:target:before {
    content: "";
    display: block;
    height: 15vh;
    margin: -15vh 0 0;
}

body{
    background-color: #1c1a24;
    color: white;
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

main{
    background-image: url("./images/background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    margin-top: 15vh;
    /*height: 500vh;*/
}

section{
    padding: 15px;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    z-index: 1;
}

.navLinks{
    display: flex;
}
.navLinks>a{
    margin-left: 10px;
    margin-right: 10px;
}

img{
    width: 100%;
    object-fit: cover;
}

/* CLASSES */

.margin10px{
    margin: 10px;
}

.inlineBlock{
    display: inline-block;
}

.centered{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.halfSize{
    width: 50%;
}

.navBar{
    padding-left: 20px;
    padding-right: 20px;
    height: 15vh;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle{
    vertical-align: middle;
    margin-left: 15px;
}

.portfolio{
    background-color: rgb(20, 20, 30);
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.projects{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.project{
    width: 30%;
    min-height: 50vh;
    background-color: rgb(30, 30, 40);
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.seeMore{
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border-style: solid;
    border-radius: 10px; 
    border-width: 0;
    color: white;
    background-color: #000055;
    text-align: center;
}

.title{
    font-weight: 700;
    font-size: 5em;
    display: block;
    width: auto;
    margin-top: 20px;
}

#contactLinks{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    margin-top: 50px;
}

#contactLinks > a > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contactLinks > a > div > h3{
    margin: 15px;
    font-weight: 300;
    color: white;
}

.contactIcon{
    width: 50px;
    height: 50px;
}

/* IDS*/


/* EFFECTS */

.project:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.seeMore:hover{
    cursor: pointer;
    background-color: #111166;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#portfolioSection{
    scroll-margin-top: 15vh;
}

#contactSection{
    scroll-margin-top: 15vh;
}