body{
    font-family: "Roboto Slab", serif;
}

nav{
    border: 0 solid lightgray;
    border-bottom-width: 2px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1{
    margin: 10px;
}

nav > ul{
    list-style: none;
}

nav > ul > li{
    display: inline-block;
    margin: 0 15px;
}

main{
    background-color: white;
}